@{
    ViewBag.Title = "Create";
}
@model CocoFarm.Model.Produs
<h2>Adaugare produs</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Produs nou</legend>
        <div>
            @Html.LabelFor(model => model.Denumire)
            @Html.EditorFor(model => model.Denumire)
        </div>
        <div>
            @Html.LabelFor(model => model.Cod)
            @Html.EditorFor(model => model.Cod)
        </div>
        <div>
            @Html.LabelFor(model => model.Descriere)
            @Html.EditorFor(model => model.Descriere)
        </div>
    </fieldset>
    <p>
        <input type="submit" value="Adaugă" /> |
        @Html.ActionLink("Înapoi în listă", "Index")
    </p>
}