@{
    ViewBag.Title = "Create";
}
@using CocoFarm.Model
@model CocoFarm.Model.Product
<h2>Adaugare produs</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Produs nou</legend>
        <div>
            @Html.ValidationSummary()
        </div>
        <div>
            @Html.LabelFor(model => model.Denumire)
            @Html.EditorFor(model => model.Denumire)
        </div>
        <div>
            @Html.LabelFor(model => model.Cod)
            @Html.EditorFor(model => model.Cod)
            @Html.ValidationMessageFor(model => model.Cod)
        </div>
        <div>
            @Html.LabelFor(model => model.Descriere)
            @Html.EditorFor(model => model.Descriere)
        </div>
        <div>
            @Html.LabelFor(model => model.Price)
            @Html.EditorFor(model => model.Price)
        </div>
        <div>
            @Html.LabelFor(model => model.Category)
            @{
                var categories = from cat in (IEnumerable<ProductCategory>)ViewBag.Categories
                                 select new SelectListItem {Text = cat.Name, Value = cat.Id.ToString()};
            }
            @Html.DropDownList("CategoryId", categories)
        </div>
    </fieldset>
    <p>
        <input type="submit" value="Adaugă" /> |
        @Html.ActionLink("Înapoi în listă", "Index")
    </p>
}