@{
    ViewBag.Title = "Delete";
}
@model CocoFarm.Model.Product
<h2>Ștergere produs</h2>

<fieldset>
    <legend>Produsul ce urmeaza a fi șters</legend>
    <div>
        @Html.LabelFor(model => model.Name)
        @Html.DisplayFor(model => model.Name)
    </div>
    <div>
        @Html.LabelFor(model => model.Code)
        @Html.DisplayFor(model => model.Code)
    </div>
    <div>
        @Html.LabelFor(model => model.Description)
        @Html.DisplayFor(model => model.Description)
    </div>
    <div>
        @Html.LabelFor(model => model.Price)
        @Html.DisplayFor(model => model.Price)
    </div>
</fieldset>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Șterge" /> |
        @Html.ActionLink("Înapoi în listă", "Index")
    </p>
}