@{
    ViewBag.Title = "Details";
}
@model CocoFarm.Model.Product
<h2>Detalii produs</h2>

<fieldset>
    <legend>@Html.DisplayNameFor(model => model.Name)</legend>
    <div>
        @Html.LabelFor(model => model.Name)
        @Html.DisplayFor(model => model.Name)
    </div>
    <div>
        @Html.LabelFor(model => model.Code)
        @Html.DisplayFor(model => model.Code)
    </div>
    <div>
        @Html.LabelFor(model => model.Description)
        @Html.DisplayFor(model => model.Description)
    </div>
    <div>
        @Html.LabelFor(model => model.Price)
        @Html.DisplayFor(model => model.Price)
    </div>
</fieldset>

<p>
    @Html.ActionLink("Modifică", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Înapoi în listă", "Index")
</p>
