@{
    ViewBag.Title = "Edit";
}
@model CocoFarm.Model.Product

<h2>Editare produs</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <fieldset>        
        <legend>@Html.DisplayNameFor(model => model.Name)</legend>
        <div>
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
        </div>
        <div>
            @Html.LabelFor(model => model.Code)
            @Html.EditorFor(model => model.Code)
        </div>
        <div>
            @Html.LabelFor(model => model.Description)
            @Html.EditorFor(model => model.Description)
        </div>
        <div>
            @Html.LabelFor(model => model.Price)
            @Html.EditorFor(model => model.Price)
        </div>
        <p>
            <input type="submit" value="Salvează" />
        </p>
    </fieldset>
}